{% extends 'base.html' %}

{% block content %}
{% if page == "login" %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="usernamer">username : <input type="text" id="username" name="username" placeholder="username"></label>
        <label for="password">password: <input type="password" id="password" name="password" placeholder="password"></label>
    </form>
    <p>Ainda nao tens conta <a href="{% url 'register' %}">Registrar</a></p>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="REGISTRAR">
    </form>
    <p>Tens conta <a href="{% url 'login' %}">Login</a></p>
</div>
{% endif %}
{% endblock content%}